<h1>{{ username }}'s Collections</h1>

<div class="load-more" ng-click="loadMore()">
	<p>Load More</p>
</div>
<div>
	<div class="picture-outline" ng-repeat="pix in pictures">
		<div class="image">
			<img src="{{ pix.imgurl }}" height="350" width="350">
		</div>

		<div class="username">
			{{ pix.uploader }}
		</div>

		<div class="instagram-link">
			<p><a href="{{ pix.link }}">Go to Page</a></p>
		</div>

		<div class="instagram-link" ng-click="removeItem()">
			<p>Remove from Collection</p>
		</div>
	</div>
</div>
