<center><h1>{{ username }}'s Collections</h1><center>

<div>
	<div class="picture-outline" ng-repeat="pix in pictures">
		<div class="image">
			<img src="{{ pix.imgurl }}" height="350" width="350">
		</div>

		<div class="username">
			{{ pix.uploader }}
		</div>

		<div class="instagram-link">
			<p><a href="{{ pix.link }}">Go to Page</a></p>
		</div>

		<div class="instagram-link" ng-click="removeItem(pix)">
			<p>Remove</p>
		</div>
	</div>
</div>

 <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>