<div id="form-outline">
	<div class="form-header">
		<h1>InstaCollection</h1>
	</div>

	<form class="form-input" ng-submit="submit(user)">
		<p>
			<label>Enter hashtag</label>
			<input class="input-hashtag" placeholder="#hashtag" ng-model="user.hash">
		</p>

		<p>
			<label>Start date</label>
			<input class="input-start" placeholder="MO/DY/YR" ng-model="user.start" disabled=true>
		</p>

		<p>
			<label>End date</label>
			<input class="input-end" placeholder="MO/DY/YR" ng-model="user.end" disabled=true>
		</p>

		<p>
			<input type="submit" class="btn-submit">
		</p>
	</div>
</form>