<div id="form-outline">
	<div class="form-header">
		<h1>Login</h1>
	</div>

	<form class="form-input" ng-submit="submit(user)">
		<p>
			<label>Enter Username</label>
			<input class="input-hashtag" placeholder="Username" ng-model="user.username">
		</p>

		<p>
			<label>Enter Password</label>
			<input class="input-start" placeholder="Password" ng-model="user.password">
		</p>

		<p>
			<input type="submit" class="btn-submit">
		</p>

		<div ng-click="signUp()">
			<p>Sign up</p>
		</div>
	</form>
</div>