<h1>Pictures that match #{{ tag }}</h1>

<div>
	<div class="picture-outline" ng-repeat="pix in pictures">
		<div class="image">
			<img src="{{ pix.images.standard_resolution.url }}" height="350" width="350">
		</div>

		<div class="username">
			<span>{{ pix.user.username }}</span>
		</div>

		<div class="instagram-link">
			<p><a href="{{ pix.link }}">Go to Page</a></p>
		</div>

		<div class="instagram-link" ng-click="addCollection(pix)">
			<p>Add to my Collection</p>
		</div>
	</div>
</div>
<hr>
	<uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
</hr>

 <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>



